body {
    font-family: 'Prompt', sans-serif;
    background-color: rgb(51, 51, 51);
    overflow-x: hidden;
}

.top-menu {
    margin-top: 20px;
    padding: 0 10px;
}

.box-menu {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.box-menu a {
    display: block;
    text-decoration: none;
    letter-spacing: 1.8px;
    color: rgb(164, 164, 164);
    background-color: rgb(51, 51, 51);
    transition: transform 0.5s;
}

.box-menu a:hover {
    color: rgb(34, 38, 37);
    background-color: rgb(211, 216, 218);
}

.box-img {
    position: relative;
    height: 300px;
    margin-bottom: 10px;
    background-color: rgb(51, 51, 51);
    padding: 10px;
    transition: transform 0.5s;
}

.box-img .box-img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-img-title h2 {
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 5px rgb(142, 142, 142), -2px -2px 5px rgb(142, 142, 142);
    opacity: 0.4;
}

.box-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    position: center center;
}

.img-hover .box-img:hover img,
.img-hover .box-img:hover h2 {
    opacity: 1;
}

.news {
    margin-top: 20px;
}

.box-text {
    height: 300px;
    padding: 10px;
    color: rgb(164, 162, 162);
    overflow-y: auto;
}

.box-text:hover {
    color: white;
}

.box-text:hover hr{
    border: 1px solid white;
}

.box-text h3 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.box-text p {
    text-align: justify;
    font-size: 1.1rem;
}


.news .box-img img {
    opacity: 1;
}

hr {
    margin: 5px 0;
}

.footer {
    color: rgb(164, 162, 162);
    text-align: right;
    font-size: 1.2rem;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .top-menu .box-menu:first-child {
        padding-left: 0;
    }

    .top-menu .box-menu:last-child {
        padding-right: 0;
    }

    .box-menu {
        padding: 0 10px;
    }

    .box-menu a {
        border-top: 1px solid transparent;
    }

    .box-menu a:hover {
        color: white;
        background-color: transparent;
        text-shadow: 1px 1px 6px rgb(142, 142, 142);
        border-top: 1px solid rgba(211, 216, 218, 0.3);
    }

    .img-hover .box-img:hover {
        transform: scale(1.05);
    }

    .box-img img {
        box-shadow: 1px 1px 2px rgb(142, 142, 142), -1px -1px 2px rgb(142, 142, 142);
    }


    .box-text h3 {
        text-align: left;
    }

    .box-text p {
        font-size: 1rem;
    }

    .box-img-title h2 {
        font-size: 2.8rem;
    }
}
