
body {
    background-color: rgb(51, 51, 51);
}

.top-row {
    margin-top: 20px;
    padding: 0 10px;
}

.box-menu {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-right: : 1px solid rgb(142, 142, 142);
    border-left: 1px solid rgb(142, 142, 142);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.box-menu a {
    display: block;
    text-decoration: none;
    color: rgb(164, 164, 164);
    background-color: rgb(51, 51, 51);
    transition: transform 0.5s;
}

.box-menu a:hover {
    color: rgb(34, 38, 37);
    background-color: rgb(211, 216, 218);
    transform: scale(1.03);


}

.box-img{
    position: relative;
    height: 300px;

    background-color: rgb(51, 51, 51);
    /* border: 1px solid rgb(142, 142, 142); */
    padding: 10px;
    transition: transform 0.5s;

}

.box-img .box-img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-img-title h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 5px rgb(142, 142, 142), -2px -2px 5px rgb(142, 142, 142);
}


.box-img:hover {
    transform: scale(1.05);

}

.box-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    position: center;
}

.box-img h2 {
    opacity: 0.4;
}

.box-img:hover img,
.box-img:hover h2 {
    opacity: 1;
}

.box-text {
    padding: 10px;
    color: rgb(142, 142, 142);
}

.box-text h3 {

    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 10px;

}

.box-text p {

    text-align: justify;
    font-size: 1.5rem;

}
